<main class="flex-shrink-0 mb-5 mt-4">
  <div class="container">
    <div class="p-5 rounded">
    </div>
  </div>
  <h2>Servicios</h2>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    {{#if servicios_db}}
      {{#each servicios_db}}

        <div class="col">
          <div class="card">
            <img src="assets/img/{{foto}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">
                {{desc}}
                <br /><br />
                <b>Precio:</b>
                {{precio}}€
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>No Servicios Yet.</p>
    {{/if}}

  </div>

  <br /><br /><br />
  <a href="/servicios">
    <input
      type="button"
      value="Mas servicios"
      class="btn btn-primary float-right"
    />
  </a>
  <br /><br />
  <h2>Ordenadores</h2>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {{#if products}}
      {{#each products}}

        <div class="col">
          <div class="card">
            <img src="assets/img/{{foto}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">
                {{desc}}
                <br /><br />
                <b>Precio:</b>
                {{precio}}€
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>No Products Yet.</p>
    {{/if}}

  </div>
  <br />
  <a href="/catalogo">
    <input
      type="button"
      value="Mas ordenadores"
      class="btn btn-primary float-right"
    />
  </a>

</main>